body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #0e100f, #3a3d3a)
}

.calendar {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 10px 10px 50px rgb(22, 52, 23);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #1e7d22;
    color: #fff;
}

.header button {
    background: #fff;
    border: none;
    color: #4CAF50;
    font-size: 18px;
    cursor: pointer;
}

.header span {
    font-size: 18px;
    font-weight: bold;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid #ddd;
}

.days div {
    text-align: center;
    padding: 10px;
    background: #f9f9f9;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.dates div {
    text-align: center;
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.dates div:nth-child(7n) {
    border-right: none;
}
